<%- include('header', { title: 'Home' }) %>
    <div class="container mt-5">
        <h1>Welcome Home!</h1>
        <div>
            <a class="btn btn-primary" href="/logout">Logout</a>
            <!-- <a class="btn btn-secondary" href="/contact">contact</a> -->
        </div>
    </div>
   
<%- include('footer') %>
